.admin h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.edit-btn {
    background-color: #13c9e9;
    color: white;
    border: none;
}

.delete-btn {
    background-color: #eb1717;
    color: white;
    border: none;
}
