button {
    background-color: rgb(245, 57, 57);
    color: white;
    padding: 15px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    flex: 1;
    opacity: 0.9;
}

#clear-btn {
    background-color: #444;
}

button:hover {
    opacity: 1;
}