#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
    margin-bottom: 1rem
}

#navbar h2 {
    color: #7703fc;
    font-weight: bold;
}

#navbar #nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}