.question {
    text-align: center;
    width: 500px;
    background-color: #8425de;
    border-radius: 1rem;
    padding: 2rem;
}

.question h2 {
    margin-bottom: 2rem;
}

.question p {
    margin-bottom: 1rem;
}

.question button {
    margin: 0.5rem;
    border: 2px solid white;
}
